[submodule "shared"]
	path = shared
	url = git@github.com:DOI-BOR/Stanislaus-WTMP-Shared.git
[submodule "rss"]
	path = rss
	url = git@github.com:DOI-BOR/Stanislaus-WTMP-RSS.git
[submodule "reports"]
	path = reports
	url = git@github.com:DOI-BOR/Stanislaus-WTMP-Reports.git
[submodule "ras"]
	path = ras
	url = git@github.com:DOI-BOR/Stanislaus-WTMP-RAS.git
[submodule "cequal-w2"]
	path = cequal-w2
	url = git@github.com:DOI-BOR/Stanislaus-WTMP-CEQUAL-W2.git
[submodule "5q"]
	path = 5q
	url = git@github.com:DOI-BOR/Stanislaus-WTMP-5Q.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:DOI-BOR/Stanislaus-WTMP-Scripts.git
